.post {
  width: 100%;
  max-width: 100%;
  margin-bottom: 1.5rem;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  min-height: 11rem;
  border-radius: 10px;
  overflow: hidden;
  transition: all .3s ease;
  box-shadow: 0 1px 1px 0 rgba(31, 35, 46, .15);
  &:hover {
    transform: translate(0px, -2px);
    box-shadow: 0 15px 45px -10px rgba(10, 16, 34, .2);
  }

  .post-thumbnail {
    width: 30%;
    max-width: 100%;
    min-height: 11rem;
    background-size: cover;
    background-position: 50% 50%;
  }

  .post-content {
    padding: 1rem;
    width: 70%;
    .post-date,
    .post-words {
      font-size: 0.75rem;
    }
    .post-title {
      margin: 0 0 10px;
      font-size: 1.875rem;
      font-weight: 400;
      a {
        font-family: 'PT Serif', serif;
        text-decoration: none;
        color: $dark-blue;
      }
    }
    p {
      margin-top: 0;
    }
  }
}

a.older-posts, a.newer-posts {
  font-size: 1.125rem;
  display: inline-block;
  color: $body-color;
  transition: transform .2s;
}

a.older-posts:hover {
  transform: translateX(5px);
}

a.newer-posts:hover {
  transform: translateX(-5px);
}