$body-color: #515151;
$white: #ffffff;
$lightgray: #fafafa;
$gray: #ecf0f1;
$dark-gray: #a0a0a0;
$dark-blue: #263959;
$dark: #333030;
$dark-blue-sidebar: rgba(38, 57, 89, 0.85);
$white-sidebar: rgba(255, 255, 255, 0.2);
$dark-blue-topbar: rgba(38, 57, 89, 0.92);