a {
	font-weight: 600;
}

p {
	text-align: justify;
}

h1 {
	text-align: center;
}

main {
	-moz-flex-grow: 1;
	-webkit-flex-grow: 1;
	-ms-flex-grow: 1;
	flex-grow: 1;
	-moz-flex-shrink: 1;
	-webkit-flex-shrink: 1;
	-ms-flex-shrink: 1;
	flex-shrink: 1;
	display: -moz-flex;
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;
	-moz-align-items: center;
	-webkit-align-items: center;
	-ms-align-items: center;
	align-items: center;
	-moz-justify-content: center;
	-webkit-justify-content: center;
	-ms-justify-content: center;
	justify-content: center;
	-moz-flex-direction: column;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	position: relative;
	max-width: 100%;
	z-index: 3;
}

	main article {
		-moz-transform: translateY(0.25rem);
		-webkit-transform: translateY(0.25rem);
		-ms-transform: translateY(0.25rem);
		transform: translateY(0.25rem);
		-moz-transition: opacity 0.325s ease-in-out, -moz-transform 0.325s ease-in-out;
		-webkit-transition: opacity 0.325s ease-in-out, -webkit-transform 0.325s ease-in-out;
		-ms-transition: opacity 0.325s ease-in-out, -ms-transform 0.325s ease-in-out;
		transition: opacity 0.325s ease-in-out, transform 0.325s ease-in-out;
		padding: 4.5rem 2.5rem 1.5rem 2.5rem ;
		position: relative;
		width: 52rem;
		max-width: 100%;
		background-color: rgba(27, 31, 34, 0.85);
		border-radius: 4px;
	}

		main article .blog-image {
			display: block;
			width: 25rem;
			max-width: 100%;
			text-align: center;
			margin: 1rem auto 2rem;
		}

		main article .blog-entry-info {
			display: inline-block;
			width: 49%;
		}

			main article .blog-entry-info #date-published {
				text-align: right;
			}

footer {
	-moz-transition: -moz-transform 0.325s ease-in-out, -moz-filter 0.325s ease-in-out, opacity 0.325s ease-in-out;
	-webkit-transition: -webkit-transform 0.325s ease-in-out, -webkit-filter 0.325s ease-in-out, opacity 0.325s ease-in-out;
	-ms-transition: -ms-transform 0.325s ease-in-out, -ms-filter 0.325s ease-in-out, opacity 0.325s ease-in-out;
	transition: transform 0.325s ease-in-out, filter 0.325s ease-in-out, opacity 0.325s ease-in-out;
	width: 100%;
	max-width: 52rem;
	margin-top: 0.5rem;
	margin-bottom: 3rem;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

	footer .license-icon-link {
		border: none;
	}
