@import url(font-awesome.min.css);
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:400italic,600italic,400,600");

*{
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	font-family: "Source Sans Pro", sans-serif;
}

html {
	background-color: #f7f8ff;
}

#wrapper {
	margin: 5em auto;
	text-align: center;
}

#image, #text {
	display: inline-block;
	vertical-align: middle;
	text-align: justify;
}

#image {
	max-width: 300px;
}

#text {
	max-width: 390px;
}

h1 {
	font-size: 26px;
	font-weight: 600;
}

p {
	margin: 1em 0;
}

span {
	text-decoration: underline;
	cursor: pointer;
}

span:hover {
	text-decoration: none;
}

.button {
	width: 6em;
	padding: 0.8em;
	border: 1px solid black;
	border-radius: 5px;
	background-color: #e0e0e0;
	cursor: pointer;
	margin: auto;
	text-align: center;
}

.button a {
	color: #000000;
	text-decoration: none;
}

#error {
	font-style: italic;
	color: #808080;
}

#technical {
	max-width: 450px;
}

@media screen and (max-width: 840px) {
	#wrapper {
		max-width: 80%;
		margin: auto;
	}

	#technical {
		max-width: 100%;
	}

	#image {
		margin-top: 1em;
	}
}