*{
	margin: 0;
	padding: 0;
}

body {
	background-color: white;
	font-family: 'Source Sans Pro', Arial, sans-serif;
}

header {
	margin-bottom: 25px;
}

header h1 {
	text-align: center;
	font-family: 'Heebo', Arial, sans-serif;
	font-weight: lighter;
}

li label {
	cursor: pointer;
}

.main {
	margin: 75px auto 50px;
	width: 90%;
	max-width: 500px;
	font-size: 16px;
}

.content-container {
	position: relative;
	text-align: center;
	margin-bottom: 85%;
}

.toggler {
	display: none;
}

.toggler:checked + .content {
	opacity: 1;
	visibility: visible;
}

.content {
	position: absolute;
	top: 0;
	left: 0;
	padding-left: 10%;
	width: 80%;
	height: 400px !important;
	overflow: auto;
	margin-bottom: 50px;

	opacity: 0;
	visibility: hidden;
	transition: all .2s ease-in-out;
}

.content p{
	margin-bottom: 15px;
}

.profile-image {
	margin-top: 15px;
	width: 150px;
	height: 150px;
	border-radius: 50%;
}

.sm-item {
	margin-top: 10px;
	display: inline-block;
	list-style: none;
}

.sm-item img {
	border-radius: 10%;
	width: 20px;
	height: 20px;
}

.contact-item {
	text-align: left;
	list-style: none;
}

.contact-item a {
	text-decoration: none;
	color: inherit;
}

.contact-item a:hover {
	text-decoration: underline;
}

footer {
}

.footer-list {
	text-align: center;
	margin-top: 10px;
	padding: 0;
}

.footer-item {
	display: inline-block;
	list-style: none;
	width: auto;
	padding: 5px;
	font-family: 'Heebo', Arial, sans-serif;
	font-size: 14px;
}

.footer-item:hover {
	text-decoration: underline;
}
