::-webkit-scrollbar {visibility: hidden; display: none;}

*{
	margin: 0;
	padding: 0;
}

body {
	background-color: #FFFFF0;
	font-family: 'Source Sans Pro', Arial, sans-serif;
}

.main {
	margin: 50px auto 5px;
	width: 90%;
	max-width: 500px;
	font-size: 16px;
}

header {
	display: inline-block;
	width: inherit;
	max-width: 500px;
	/*margin-bottom: 25px;*/
	position: fixed;
}

header h1 {
	text-align: center;
	font-family: 'Heebo', Arial, sans-serif;
	font-weight: lighter;
}

li label {
	cursor: pointer;
}

.content-container {
	position: fixed;
	display: inline-block;
	/*height: 486px;*/
	height: 100%;
	top 0;
	width: inherit;
	max-width: 400px;
	overflow: hidden;
	margin-top: 40px;
	text-align: center;
}

@media (min-width:400px) {
	.content-container {
		margin-left: 5%;
	}
}

.toggler {
	display: none;
}

.toggler:checked + .content {
	opacity: 1;
	visibility: visible;
}

.content {
	position: absolute;
	display: inline-block;
	top: 0;
	left: 0;
	padding-top: 15px;
	width: 100%;
	max-width: 400px;
	height: 72%;
	overflow: scroll;
	margin-bottom: 0;

	opacity: 0;
	visibility: hidden;
	transition: all .2s ease-in-out;
}

.content p{
	margin-bottom: 15px;
}

.profile-image {
	margin-top: 15px;
	width: 150px;
	height: 150px;
	border-radius: 50%;
}

.sm-item {
	margin-top: 10px;
	display: inline-block;
	list-style: none;
}

.sm-item img {
	border-radius: 10%;
	width: 20px;
	height: 20px;
}

.skills {
	height: 476px;
}

.skills .skills-container {
	display: block;
	width: 100%;
	height: auto;
	margin-bottom: 20px
}

.skills .skills-container span {
	position: relative;
	display: inline-block;
	vertical-align: top;
	font-size: 40px;
	margin: 10px 10px;
}

.skills .skills-container span::after {
	content: attr(data-label);
	position: absolute;
	bottom: -15px;
	left: 0;
	width: 100%;
	height: auto;
	padding: 5px 0;
	font-size: 14px;
}

.skills .skills-container span img{
	width: 40px;
	height: 40px;
}

.contact-item {
	text-align: left;
	list-style: none;
}

.contact-item a {
	text-decoration: none;
	color: inherit;
}

.contact-item a:hover {
	text-decoration: underline;
}

footer {
	display: inline-block;
	position: fixed;
	width: inherit;
	max-width: 500px;
	bottom: 0;
}

.footer-list {
	text-align: center;
	margin-top: 10px;
	padding: 0;
}

.footer-item {
	display: inline-block;
	list-style: none;
	width: auto;
	padding: 5px;
	font-family: 'Heebo', Arial, sans-serif;
	font-size: 14px;
}

.footer-item:hover {
	text-decoration: underline;
}
